:host {
  background-color: var(--kd-drawing-bg);
  width: 100vw;
  flex-shrink: 0;
  flex-grow: 1;
  /* The nav popup is positioned absolutely against this element. */
  position: relative;
}


canvas {
  background-color: var(--kd-drawing-canvas-bg);
  display: block;
}
