<div id="mainDrawingArea" #mainDrawingArea></div>
@if (navPopupOpen) {
  <app-nav-popup [rows]="navPopupRows"
                 [class.concealed]="navPopupHidden"
                 [left]="navPopupLeft"
                 [top]="navPopupTop"
                 [dark]="navPopupDark"
                 [holdKey]="navPopupHoldKey"
                 [startFilter]="navPopupStartFilter"
                 [selectedId]="navPopupSelectedId"
                 [directionKeys]="navPopupDirectionKeys"
                 (highlightRow)="onNavPopupHighlight($event)"
                 (moveDirection)="onNavPopupDirection($event)"
                 (commitRow)="onNavPopupCommit($event)"
                 (closed)="closeNavPopup()" />
}
