<app-header (loadSampleGraph)="onLoadSampleGraph($event)"/>

<app-drawing-area [commands]="commandsSubject.asObservable()"
                  [viewportInset]="{
                    left: compactMenuSide === 'left' ? compactMenuInset : 0,
                    right: compactMenuSide === 'right' ? compactMenuInset : 0,
                    top: 0,
                    bottom: keymenuInset
                  }"
                  (daOut)="handleDANotification($event)"
                  (zoomLevel)="onZoomLevelChange($event)"
                  (movementSpeedChange)="onMovementSpeedChange($event)"
                  (canEditChange)="onCanEditChange($event)"
/>

<app-keymenu
  [class.keymenu-hidden]="!keymenuVisible"
  [attr.aria-hidden]="!keymenuVisible"
  [movementSpeed]="movementSpeed"
  [canEdit]="canEdit"
  [visible]="keymenuVisible"
  [keyAssignments]="keyAssignments"
  (keyMenuOut)="relayKeymenuCommand($event)"
  (labelEditModeOut)="handleLabelEditModeChange($event)"
  (visibilityToggle)="toggleKeymenuVisibility()"
  (textEntryChange)="onKeymenuTextEntry($event)"
  (compactModelOut)="onCompactModel($event)"/>

@if (keymenuDisplay === 'compact') {
  <app-compact-keymenu
    [rows]="compactRows"
    [dark]="darkTheme"
    [side]="compactMenuSide"
    [widthPx]="compactMenuWidth"
    [modeName]="compactModeName"/>
}

@if (keymenuDisplay === 'hidden') {
  <div class="menu-hidden-hint">
    @if (keymenuTyping) {
      <kbd>Ctrl-[</kbd> or <kbd>Esc</kbd>, then <kbd>{{ keyAssignments.root.toggleVisibility }}</kbd> shows the menu
    } @else {
      <kbd>{{ keyAssignments.root.toggleVisibility }}</kbd> shows the menu
    }
  </div>
}

@if (exLineOpen) {
  <app-ex-line
    [dark]="darkTheme"
    [message]="exLineMessage"
    [history]="exHistory"
    (submitCommand)="onExCommand($event)"
    (cancel)="onExCancel()"/>
}
